* {
    margin : 0;
    padding: 0;
}

%box-shadow {
    border-radius: 10px;
    box-shadow   : #53535341 -1px 1px 5px;
    color        : #53535365;
}

$gray      : #53535365;
$grayM :  #535353a2;
$dark-grey : #535353;
$fontHel: Helvetica;

button {
       span {
        display: block;
        width  : 60px;
        height : 60px;
        margin : 0 0 10px;
        padding: 15px 16px 14px;
        @extend %box-shadow
    }

    p {
        font-size : 80%;
        text-align: center;
    }
    
}